body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;

}

.nav ul {
    margin: 0;
    list-style: none;
}

.nav li {
    padding: 20px 40px;
    display: inline-block;
}

.nav .img {
    border: 1px solid #ffffff;
    margin-right: 50%;
}

.header {
    margin: 0;
    height: 640px;
    background-color: #9a9a9a;

}

.header h1 {
    text-align: center;
    margin: 0;
    padding-top: 50px;
    color: #b3b3b3;
    font-weight: 400;
}

.header .content {
    margin-top: 20px;
    display: inline-flex;


}

.header form {
    border-radius: 3px;
    overflow: hidden;
    width: 360px;
    height: 365px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.header .title {
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}
.header .title span{
    color: #ff9b51;
}
.header .input {
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 33px;
}

.header input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin: 20px 0;
    width: 70%;
}

.header .get {
    background-color: #ff9b51;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    padding: 20px;

}
.header .text{
    width: 680px;
    padding-left: 150px;
    text-align: left;
    margin-right: 210px;
    color: #ffffff;
}
.header .text .hr{

    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin: 0;
    width: 65px;

}
.header .text button{
    padding: 10px 20px ;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.header h3 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: normal;
}
.header h2{
    font-size: 70px;
    color: #ff9b51;
    font-weight: normal;
    margin: 0;
}
.header h2 span {
    color: #ffffff;
    font-weight: bolder;
}